@import "mocha.css"; 

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 8px;
	margin-left: 24px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @mauve;
    border-top: 2px solid @rosewater;
	border-radius: 8px;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#custom-cava_mviz {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-cava_mviz {
	color: @mauve;
}

#cpu, #memory, #pulseaudio {
    color: @mauve;
    border-top: 2px solid @mauve;
}

#network {
    color: @green;
    border-top: 2px solid @green;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
}

.modules-left {
	margin-left: 4px;
	/* padding-left: 8px; */
}
.modules-right {
	margin-right: 4px;
	padding-right: 2px;
}
.modules-left, .modules-right, .modules-center {
	background: @mantle;
	margin-top: 4px;
	border-radius: 8px;
	border: solid 1px @rose;
}

#workspaces {
	margin-left: 2px;
}

#clock {
	color: @blue;
}
